@import "tailwindcss";
@plugin "daisyui" {
  themes: light;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #155DFC;
  --color-base-content: #0B0E13;
};

html {
  overflow-y: scroll; /* Always reserve space for scrollbar */
  scrollbar-width: none; /* Firefox - hide scrollbar */
  -ms-overflow-style: none; /* IE/Edge - hide scrollbar */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Opera - hide scrollbar */
}


.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
